body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.navbar {
    background: -webkit-linear-gradient(135deg, rgb(39, 59, 131) 38%, rgb(255, 255, 255));
    background: -moz-linear-gradient(135deg, rgb(39, 59, 131) 38%, rgb(255, 255, 255));
    background: linear-gradient(135deg, rgb(39, 59, 131) 38%, rgb(255, 255, 255));
}

.nav-link {
    opacity: .80;

    transition: opacity .1s linear;
}

.nav-link:hover {
    opacity: 1;
}

.btn-outline-success:hover {
    background-color: #273b83;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 600px;
    padding-top: 100px;

    /* background: url('/img/intro.jpg') center no-repeat; */
    background: -webkit-linear-gradient(45deg, rgb(39, 59, 131) 52%, rgb(255, 255, 255));
    background: -moz-linear-gradient(45deg, rgb(39, 59, 131) 52%, rgb(255, 255, 255));
    background: linear-gradient(45deg, rgb(39, 59, 131) 52%, rgb(255, 255, 255));
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    margin: 0 0 30px;

    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    margin-bottom: 60px;

    font-size: 15px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

/* btn-intro */

.bt-n {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;
}

.btn--red {
    background-color: #d6213b;
}

.btn--red:hover {
    background-color: #dd3434;
    color: #fff;
}

.btn-secondary {
    background-color: #273b83;
}


/* Filters */
.filters {
    height: 950px;
    padding-top: 100px
}

/* check training */
.check__training {
    margin-top: 20px;
}

.training-format {
    margin-bottom: 15px;
}

/* range */
.range {
    margin-top: 20px;
}

/* check-status */
.check__status {
    margin-top: 20px;
}

.status {
    margin-bottom: 15px; 
}

/* work-experience */
.check__experience {
    margin-top: 20px;
}

.work-experience {
    margin-bottom: 15px;
}

/* check sex */
.check__sex {
    margin-top: 20px 
}

.sex {
    margin-bottom: 15px;
}

/* age */
.check__age {
    margin-top: 20px
}

.age {
    margin-bottom: 15px;
}



/* Footer
===================*/

.footer {
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer__block {
    width: 33.33333%;
    padding: 0 15px;

    text-align: center;
}

.footer__title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer__address {
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}



/* Copyright
===================*/

.copyright {
    padding: 20px 0;

    background: -webkit-linear-gradient(45deg, rgb(39, 59, 131) 52%, rgb(255, 255, 255));
    background: -moz-linear-gradient(45deg, rgb(39, 59, 131) 52%, rgb(255, 255, 255));
    background: linear-gradient(45deg, rgb(39, 59, 131) 52%, rgb(255, 255, 255));
    background-size: cover;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: lightgray;
}

.copyright__text span {
    color: #fff;
}

/* teacher card info */
.in-nav {
    margin-top: 20px;
}

.section-header {
    padding: 18px 28px;
    position: relative;
    background-color: #f8f8f8;
}

.section {
    position: relative;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    width: 100%;
    padding: 28px;
    margin-bottom: 28px;
}

.additional-info-row-public {
    width: 100%;
    float: right;
    background-color: #f5f5f5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 20px;
    border-radius: 3px;
}